<footer class="site-footer">
    <p>CST336 - 2025&copy; Shatswell - HW4 Express Webapp</p>
    <p class="tech-note">
        Species data from the
        <a href="https://www.marinespecies.org/" target="_blank">World Register of Marine Species (WoRMS)</a>.
    </p>
    <a href="https://csumb.edu/" target="_blank" rel="noopener">
        <img src="img/CSUMBimage.png" alt="CSUMB Logo" class="csumb-logo">
    </a>
</footer>